In [6]:
%%capture

#Instalando o tweepy
!pip install tweepy

In [7]:
import tweepy
import math
import os.path
import pandas as pd
import json
from random import shuffle
import matplotlib.pyplot as plt
import numpy as np
import os

In [8]:
dados =pd.read_csv('databasePJF.csv', header=0, sep=',', quotechar='"')

In [9]:
dados.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [10]:
#criando um dataframe com menos não fraudes para tornar maior a proporção de fraudes para não fraudes.
dadosfraud = dados[(dados.isFraud == 1)]
dadosnfraud = dados[(dados.isFraud == 0)]
dadosnfraud = dadosnfraud.sample(frac = 1)
dadosnfraud = dadosnfraud.iloc[0:25000]
dadosfinais = pd.concat([dadosfraud,dadosnfraud])
dadosfinais

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
251,1,TRANSFER,2806.00,C1420196421,2806.00,0.00,C972765878,0.00,0.00,1,0
252,1,CASH_OUT,2806.00,C2101527076,2806.00,0.00,C1007251739,26202.00,0.00,1,0
680,1,TRANSFER,20128.00,C137533655,20128.00,0.00,C1848415041,0.00,0.00,1,0
681,1,CASH_OUT,20128.00,C1118430673,20128.00,0.00,C339924917,6268.00,12145.85,1,0
724,1,CASH_OUT,416001.33,C749981943,0.00,0.00,C667346055,102.00,9291619.62,1,0
969,1,TRANSFER,1277212.77,C1334405552,1277212.77,0.00,C431687661,0.00,0.00,1,0
970,1,CASH_OUT,1277212.77,C467632528,1277212.77,0.00,C716083600,0.00,2444985.19,1,0
1115,1,TRANSFER,35063.63,C1364127192,35063.63,0.00,C1136419747,0.00,0.00,1,0
1116,1,CASH_OUT,35063.63,C1635772897,35063.63,0.00,C1983025922,31140.00,7550.03,1,0
1869,1,TRANSFER,25071.46,C669700766,25071.46,0.00,C1384210339,0.00,0.00,1,0
1870,1,CASH_OUT,25071.46,C1275464847,25071.46,0.00,C1364913072,9083.76,34155.22,1,0
1911,1,CASH_OUT,132842.64,C13692003,4499.08,0.00,C297927961,0.00,132842.64,1,0
2301,1,TRANSFER,235238.66,C1872047468,235238.66,0.00,C116289363,0.00,0.00,1,0
2302,1,CASH_OUT,235238.66,C1499825229,235238.66,0.00,C2100440237,0.00,235238.66,1,0
3059,2,TRANSFER,1096187.24,C1093223281,1096187.24,0.00,C2063275841,0.00,0.00,1,0
3060,2,CASH_OUT,1096187.24,C77163673,1096187.24,0.00,C644345897,0.00,1096187.24,1,0
3162,2,TRANSFER,963532.14,C1440057381,963532.14,0.00,C268086000,0.00,0.00,1,0
3163,2,CASH_OUT,963532.14,C430329518,963532.14,0.00,C991505714,132382.57,1095914.71,1,0
3271,2,TRANSFER,14949.84,C140702728,14949.84,0.00,C634210724,0.00,0.00,1,0
3272,2,CASH_OUT,14949.84,C395257482,14949.84,0.00,C1032986144,18161.79,33111.63,1,0
3683,2,TRANSFER,18627.02,C1375503918,18627.02,0.00,C234430897,0.00,0.00,1,0
3684,2,CASH_OUT,18627.02,C175961135,18627.02,0.00,C1711105800,147251.58,165878.60,1,0
4103,3,TRANSFER,10539.37,C1134864869,10539.37,0.00,C118648358,0.00,0.00,1,0
4104,3,CASH_OUT,10539.37,C1984954272,10539.37,0.00,C124540047,0.00,10539.37,1,0
4260,3,TRANSFER,22877.00,C1247938090,22877.00,0.00,C1002031672,0.00,0.00,1,0
4261,3,CASH_OUT,22877.00,C2126545173,22877.00,0.00,C573200870,0.00,22877.00,1,0
4440,4,TRANSFER,10000000.00,C7162498,12930418.44,2930418.44,C945327594,0.00,0.00,1,0
4441,4,CASH_OUT,10000000.00,C351297720,10000000.00,0.00,C766681183,0.00,9941904.21,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1509943,145,CASH_IN,392080.64,C1785836971,4329273.63,4721354.27,C916146305,1951873.54,1559792.90,0,0
5760976,400,PAYMENT,6597.43,C2116422037,10393.00,3795.57,M203124718,0.00,0.00,0,0
4743097,332,PAYMENT,23192.10,C289909451,205853.09,182660.98,M2122732493,0.00,0.00,0,0
736693,38,CASH_OUT,275767.63,C493111572,0.00,0.00,C583688197,6202242.55,6385098.58,0,0
996597,45,CASH_IN,96366.31,C1138084298,46835.28,143201.59,C661412312,0.00,0.00,0,0
4997281,352,PAYMENT,14884.47,C1699257066,0.00,0.00,M1755704135,0.00,0.00,0,0
4686521,331,CASH_OUT,145951.62,C1746371851,0.00,0.00,C2078617697,3144660.03,3290611.65,0,0
598729,33,PAYMENT,2129.16,C1832628224,46871.98,44742.82,M933516118,0.00,0.00,0,0
5455603,379,CASH_OUT,259077.24,C944094603,0.00,0.00,C1505804548,437422.90,696500.14,0,0
5879560,403,CASH_OUT,57285.20,C1951962649,420404.00,363118.80,C56962970,0.00,57285.20,0,0
3730482,278,TRANSFER,124519.39,C1378902651,3707.00,0.00,C337747692,1855214.01,1979733.40,0,0
2991890,232,CASH_OUT,59319.18,C1414161132,28827.00,0.00,C70480594,0.00,59319.18,0,0
4638922,330,CASH_OUT,26042.56,C1702393183,356264.00,330221.44,C572824592,45766.64,71809.20,0,0
954780,44,PAYMENT,3602.41,C1321655765,11477.00,7874.59,M1987711638,0.00,0.00,0,0
6175755,565,PAYMENT,7428.05,C2060333104,0.00,0.00,M1044664552,0.00,0.00,0,0
889060,42,CASH_OUT,159482.21,C1197090124,22062.00,0.00,C1106747865,0.00,206144.16,0,0
4842256,347,PAYMENT,3998.36,C1101709132,0.00,0.00,M1958202806,0.00,0.00,0,0
1786934,162,CASH_IN,332857.00,C878075346,2614300.97,2947157.96,C2028497682,1138704.76,805847.76,0,0
298480,15,CASH_IN,74127.87,C1609765607,21945596.02,22019723.90,C1317378745,375001.86,300873.99,0,0
3503831,259,PAYMENT,4072.60,C1963759559,40050.03,35977.43,M626895789,0.00,0.00,0,0
2984884,231,PAYMENT,6808.25,C91510740,181619.37,174811.12,M389832833,0.00,0.00,0,0
4444896,323,TRANSFER,1261935.73,C833202407,67241.00,0.00,C1574290175,76500.48,1338436.21,0,0
3369753,254,PAYMENT,12477.69,C780054070,17600.00,5122.31,M2113237839,0.00,0.00,0,0
4070995,300,PAYMENT,17261.93,C15596756,320786.31,303524.38,M415373836,0.00,0.00,0,0
6333370,690,PAYMENT,7830.65,C1775447450,0.00,0.00,M765287648,0.00,0.00,0,0
3108891,235,CASH_IN,55466.39,C1983886256,6428446.14,6483912.53,C984454884,592997.07,537530.68,0,0
1641719,157,CASH_OUT,114124.84,C1896991139,0.00,0.00,C796944725,1208880.04,1323004.88,0,0
228226,14,PAYMENT,16280.78,C448121809,138297.47,122016.70,M126926747,0.00,0.00,0,0
3272751,251,PAYMENT,46265.47,C457502169,1411.00,0.00,M910956362,0.00,0.00,0,0
3848838,282,CASH_IN,198073.16,C984093455,155478.00,353551.16,C796212963,0.00,0.00,0,0

In [11]:
dadosfinais = dadosfinais.sample(frac = 1)
dadosfinais = dadosfinais.reset_index()
dadosfinais.isFraud.value_counts(True)

0    0.752717
1    0.247283
Name: isFraud, dtype: float64

In [12]:
dadosfinais.columns

Index(['index', 'step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg',
       'newbalanceOrig', 'nameDest', 'oldbalanceDest', 'newbalanceDest',
       'isFraud', 'isFlaggedFraud'],
      dtype='object')

In [26]:
#utilizando o naive bayes retirado do site https://www.analyticsvidhya.com/blog/2017/09/naive-bayes-explained/
#utilizando a mesma base de dados utilizada para treinar o naive bayes.
dadosteste = dadosfinais[:5000]
dadostreinamento = dadosfinais[5000:]
y = dadostreinamento.isFraud
x = dadostreinamento.loc[:, [ 'step', 'amount', 'oldbalanceOrg',
       'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']]
z = dadosteste.loc[:, [ 'step', 'amount', 'oldbalanceOrg',
       'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']]
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x,y)
predicted = model.predict(z)
print(predicted)
#help(model.predict)

[0 0 0 ..., 0 0 0]

In [28]:
#comparando o real com a classficação do naive bayes
dadosteste['predicted'] = pd.Series(predicted)
dadosteste = dadosteste.loc[:, ["isFraud", "predicted"]]
print(dadosteste.isFraud.value_counts())

print(dadosteste.predicted.value_counts())
dadosteste.head()

0    3757
1    1243
Name: isFraud, dtype: int64
0    4612
1     388
Name: predicted, dtype: int64

   isFraud  predicted
0        0          0
1        0          0
2        0          0
3        0          0
4        1          0

In [40]:
br = []

for a in range(len(dadosteste)):
    
    if dadosteste.isFraud[a] == 1:
        
        if dadosteste.predicted[a] == 1:
            br.append('positivos verdadeiros')
            
        if dadosteste.predicted[a] == 0:
            br.append('negativos falsos')
            
    elif dadosteste.isFraud[a] == 0:
        
        if dadosteste.predicted[a] == 0:
            br.append('negativos verdadeiros')
            
        if dadosteste.predicted[a] == 1:
            br.append('positivos falsos')

 fazer falsos positivos, verdadeiros positivos... (proj2)

In [43]:
##
porcentagem = pd.Series(br)
hue= (porcentagem.value_counts(True))*100
hue

negativos verdadeiros    74.42
negativos falsos         17.82
positivos verdadeiros     7.04
positivos falsos          0.72
dtype: float64

rodar o naive bayes qualitativo (multinomial) e