In [1]:
%%capture

#Instalando o tweepy
!pip install tweepy

In [2]:
import tweepy
import math
import os.path
import pandas as pd
import json
from random import shuffle
import matplotlib.pyplot as plt
import numpy as np
import os

In [4]:
dados =pd.read_csv('databasePJF.csv', header=0, sep=',', quotechar='"')

In [5]:
dados

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.00,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.00,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.00,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.00,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.00,40348.79,0,0
10,1,DEBIT,9644.94,C1900366749,4465.00,0.00,C997608398,10845.00,157982.12,0,0
11,1,PAYMENT,3099.97,C249177573,20771.00,17671.03,M2096539129,0.00,0.00,0,0
12,1,PAYMENT,2560.74,C1648232591,5070.00,2509.26,M972865270,0.00,0.00,0,0
13,1,PAYMENT,11633.76,C1716932897,10127.00,0.00,M801569151,0.00,0.00,0,0
14,1,PAYMENT,4098.78,C1026483832,503264.00,499165.22,M1635378213,0.00,0.00,0,0
15,1,CASH_OUT,229133.94,C905080434,15325.00,0.00,C476402209,5083.00,51513.44,0,0
16,1,PAYMENT,1563.82,C761750706,450.00,0.00,M1731217984,0.00,0.00,0,0
17,1,PAYMENT,1157.86,C1237762639,21156.00,19998.14,M1877062907,0.00,0.00,0,0
18,1,PAYMENT,671.64,C2033524545,15123.00,14451.36,M473053293,0.00,0.00,0,0
19,1,TRANSFER,215310.30,C1670993182,705.00,0.00,C1100439041,22425.00,0.00,0,0
20,1,PAYMENT,1373.43,C20804602,13854.00,12480.57,M1344519051,0.00,0.00,0,0
21,1,DEBIT,9302.79,C1566511282,11299.00,1996.21,C1973538135,29832.00,16896.70,0,0
22,1,DEBIT,1065.41,C1959239586,1817.00,751.59,C515132998,10330.00,0.00,0,0
23,1,PAYMENT,3876.41,C504336483,67852.00,63975.59,M1404932042,0.00,0.00,0,0
24,1,TRANSFER,311685.89,C1984094095,10835.00,0.00,C932583850,6267.00,2719172.89,0,0
25,1,PAYMENT,6061.13,C1043358826,443.00,0.00,M1558079303,0.00,0.00,0,0
26,1,PAYMENT,9478.39,C1671590089,116494.00,107015.61,M58488213,0.00,0.00,0,0
27,1,PAYMENT,8009.09,C1053967012,10968.00,2958.91,M295304806,0.00,0.00,0,0
28,1,PAYMENT,8901.99,C1632497828,2958.91,0.00,M33419717,0.00,0.00,0,0
29,1,PAYMENT,9920.52,C764826684,0.00,0.00,M1940055334,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362590,741,TRANSFER,323726.61,C509686434,323726.61,0.00,C1310143791,0.00,0.00,1,0
6362591,741,CASH_OUT,323726.61,C919525792,323726.61,0.00,C993635374,561753.58,885480.19,1,0
6362592,741,TRANSFER,383661.10,C457476945,383661.10,0.00,C1688658215,0.00,0.00,1,0
6362593,741,CASH_OUT,383661.10,C369315575,383661.10,0.00,C2069429837,1788112.70,2171773.80,1,0
6362594,741,TRANSFER,144945.34,C31496887,144945.34,0.00,C1251365829,0.00,0.00,1,0
6362595,741,CASH_OUT,144945.34,C1092829426,144945.34,0.00,C716019997,0.00,144945.34,1,0
6362596,741,TRANSFER,48442.88,C1112979339,48442.88,0.00,C2114078084,0.00,0.00,1,0
6362597,741,CASH_OUT,48442.88,C1706094385,48442.88,0.00,C2109905271,513746.19,562189.07,1,0
6362598,742,TRANSFER,4009058.39,C1044665079,4009058.39,0.00,C750074708,0.00,0.00,1,0
6362599,742,CASH_OUT,4009058.39,C1970706589,4009058.39,0.00,C637394241,1229761.96,5238820.34,1,0
6362600,742,TRANSFER,652993.91,C40604503,652993.91,0.00,C1166857907,0.00,0.00,1,0
6362601,742,CASH_OUT,652993.91,C1614818636,652993.91,0.00,C362803701,0.00,652993.91,1,0
6362602,742,TRANSFER,1819543.69,C2089752665,1819543.69,0.00,C112833674,0.00,0.00,1,0
6362603,742,CASH_OUT,1819543.69,C1039979813,1819543.69,0.00,C2078394828,0.00,1819543.69,1,0
6362604,742,TRANSFER,54652.46,C1674778854,54652.46,0.00,C1930074465,0.00,0.00,1,0
6362605,742,CASH_OUT,54652.46,C43545501,54652.46,0.00,C830041824,0.00,54652.46,1,0
6362606,742,TRANSFER,303846.74,C959102961,303846.74,0.00,C114421319,0.00,0.00,1,0
6362607,742,CASH_OUT,303846.74,C1148860488,303846.74,0.00,C846260566,343660.89,647507.63,1,0
6362608,742,TRANSFER,258355.42,C1226129332,258355.42,0.00,C1744173808,0.00,0.00,1,0
6362609,742,CASH_OUT,258355.42,C1113162093,258355.42,0.00,C797688696,25176.67,283532.09,1,0
6362610,742,TRANSFER,63416.99,C778071008,63416.99,0.00,C1812552860,0.00,0.00,1,0
6362611,742,CASH_OUT,63416.99,C994950684,63416.99,0.00,C1662241365,276433.18,339850.17,1,0
6362612,743,TRANSFER,1258818.82,C1531301470,1258818.82,0.00,C1470998563,0.00,0.00,1,0
6362613,743,CASH_OUT,1258818.82,C1436118706,1258818.82,0.00,C1240760502,503464.50,1762283.33,1,0
6362614,743,TRANSFER,339682.13,C2013999242,339682.13,0.00,C1850423904,0.00,0.00,1,0
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [31]:
#criando um dataframe com menos não fraudes para tornar maior a proporção de fraudes para não fraudes.
dadosfraud = dados[(dados.isFraud == 1)]
dadosnfraud = dados[(dados.isFraud == 0)]
dadosnfraud = dadosnfraud.ix[0:25000]
dadosfinais = pd.concat([dadosfraud,dadosnfraud])
dadosfinais = dadosfinais.sample(frac = 1)
dadosfinais = dadosfinais.reset_index()
dadosfinais

,index,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,13578,7,PAYMENT,2481.93,C356545825,14910.00,12428.07,M1460130079,0.00,0.00,0,0
1,1030510,69,CASH_OUT,175328.85,C215072412,175328.85,0.00,C386798101,110129.95,285458.80,1,0
2,15468,8,PAYMENT,13375.88,C706838997,0.00,0.00,M317858117,0.00,0.00,0,0
3,2324509,188,CASH_OUT,237642.64,C84594080,237642.64,0.00,C855526143,113161.91,350804.55,1,0
4,11128,7,PAYMENT,12291.98,C1074820946,40034.48,27742.50,M472933779,0.00,0.00,0,0
5,11266,7,TRANSFER,322464.50,C1483430324,25475.00,0.00,C344247127,125807.00,0.00,0,0
6,7141,6,PAYMENT,336.05,C1098082328,0.00,0.00,M1165836116,0.00,0.00,0,0
7,21232,8,PAYMENT,14079.66,C1104169600,0.00,0.00,M1134229208,0.00,0.00,0,0
8,24115,8,TRANSFER,610493.06,C1951112189,201747.00,0.00,C1115240385,374895.28,1008238.91,0,0
9,24816,8,PAYMENT,7585.83,C1175274169,15679.35,8093.52,M1118771427,0.00,0.00,0,0
10,22926,8,CASH_OUT,293594.36,C1279990147,0.00,0.00,C1962165946,378642.40,490685.21,0,0
11,11401,7,TRANSFER,844962.54,C991406851,0.00,0.00,C1034584766,2508654.66,7164410.37,0,0
12,14778,8,CASH_OUT,306031.23,C508894205,52636.00,0.00,C48444237,46685.00,0.00,0,0
13,8257,7,PAYMENT,2619.73,C2144584587,65248.00,62628.27,M656805788,0.00,0.00,0,0
14,6032852,475,TRANSFER,71511.19,C5272295,71511.19,0.00,C1553362573,0.00,0.00,1,0
15,3571172,261,CASH_OUT,259186.43,C959540138,259186.43,0.00,C388401160,21068.83,280255.26,1,0
16,6019721,457,CASH_OUT,145482.09,C27253971,145482.09,0.00,C325487676,1686412.37,1831894.45,1,0
17,18128,8,PAYMENT,7032.05,C595665629,113503.39,106471.34,M1912710034,0.00,0.00,0,0
18,6161965,550,CASH_OUT,21418.86,C198033049,21418.86,0.00,C403681217,534670.27,556089.13,1,0
19,2321,1,PAYMENT,2369.48,C1251247808,43963.10,41593.62,M1277678493,0.00,0.00,0,0
20,14556,8,PAYMENT,11242.65,C1448865154,102376.00,91133.35,M1090343725,0.00,0.00,0,0
21,10102,7,PAYMENT,6741.81,C257653523,673424.52,666682.71,M1439000845,0.00,0.00,0,0
22,5051,5,PAYMENT,4669.87,C555390535,49345.00,44675.13,M873226166,0.00,0.00,0,0
23,1952163,178,CASH_OUT,3354200.39,C459414804,3354200.39,0.00,C903962920,0.00,3491865.72,1,0
24,14773,8,PAYMENT,8226.75,C718305224,114364.00,106137.25,M1817186271,0.00,0.00,0,0
25,6039810,486,TRANSFER,4505012.56,C1899244815,4505012.56,0.00,C1848485369,0.00,0.00,1,0
26,2055,1,CASH_OUT,291713.22,C1395173825,1106179.39,814466.17,C1789550256,4568765.44,4619798.56,0,0
27,15070,8,PAYMENT,12650.00,C523807377,41300.00,28650.00,M918081502,0.00,0.00,0,0
28,19658,8,CASH_OUT,89433.41,C1572484661,0.00,0.00,C1880332929,14636266.22,14299084.37,0,0
29,3160917,237,CASH_OUT,321241.84,C1559351249,321241.84,0.00,C1319265495,0.00,321241.84,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
33101,15681,8,PAYMENT,33490.16,C392554640,0.00,0.00,M1063088470,0.00,0.00,0,0
33102,17905,8,CASH_IN,269668.49,C1637819586,6374627.00,6644295.48,C1233191588,603634.39,0.00,0,0
33103,4576,4,PAYMENT,1823.73,C656898222,11310.00,9486.27,M751628596,0.00,0.00,0,0
33104,23583,8,CASH_OUT,430284.11,C1985208585,96127.36,0.00,C1817886095,0.00,139123.77,0,0
33105,2851,2,PAYMENT,12165.21,C1198515856,52217.19,40051.99,M2047770317,0.00,0.00,0,0
33106,3610995,270,TRANSFER,14992.14,C925134065,14992.14,0.00,C1757598776,0.00,0.00,1,0
33107,10707,7,PAYMENT,4538.48,C2015241096,5104.00,565.52,M1628765199,0.00,0.00,0,0
33108,17001,8,PAYMENT,5133.18,C783910578,5581.00,447.82,M322222556,0.00,0.00,0,0
33109,5953,6,PAYMENT,4749.74,C52544167,18407.00,13657.26,M347377465,0.00,0.00,0,0
33110,3819977,281,CASH_OUT,556720.82,C1521556505,556720.82,0.00,C1224252499,2525193.48,3081914.29,1,0
33111,4665,4,CASH_OUT,37239.99,C931003277,8372.12,0.00,C728526866,5463046.38,6671931.33,0,0
33112,5610,6,PAYMENT,3494.07,C164365573,30921.00,27426.93,M1683834425,0.00,0.00,0,0
33113,3211991,249,CASH_OUT,2085019.56,C1108045976,2085019.56,0.00,C50003674,152830.87,2237850.44,1,0
33114,11579,7,PAYMENT,29924.54,C1673318553,111051.58,81127.03,M1971662131,0.00,0.00,0,0
33115,4505,4,CASH_IN,58095.79,C1340769295,7883526.40,7941622.19,C766681183,10000000.00,9941904.21,0,0
33116,23245,8,CASH_OUT,454601.19,C1215609867,0.00,0.00,C1247658278,817259.54,1133629.28,0,0
33117,2891,2,PAYMENT,5560.25,C2145040140,1169748.85,1164188.60,M632115057,0.00,0.00,0,0
33118,6117346,528,TRANSFER,1016302.60,C1614163884,1016302.60,0.00,C345391268,0.00,0.00,1,0
33119,5847837,402,TRANSFER,1301410.68,C939933921,1301410.68,0.00,C1813636275,0.00,0.00,1,0
33120,21748,8,CASH_OUT,61561.73,C1660221342,0.00,0.00,C1303152189,7346.89,38240.90,0,0
33121,14813,8,CASH_OUT,244728.04,C1087956214,5155.00,0.00,C699539366,229.00,215531.33,0,0
33122,2340339,189,CASH_OUT,2339743.18,C1675131101,2339743.18,0.00,C550055858,0.00,2339743.18,1,0
33123,12022,7,PAYMENT,1965.11,C1417086791,996.00,0.00,M1852330693,0.00,0.00,0,0
33124,11681,7,CASH_IN,216364.01,C1363904695,5766184.64,5982548.66,C1383831706,301185.00,32375.44,0,0
33125,13949,7,PAYMENT,4391.15,C2021412563,20546.00,16154.85,M1573600842,0.00,0.00,0,0
33126,14074,8,CASH_OUT,61779.37,C816312878,22507.00,0.00,C1031639563,2661860.08,5739012.22,0,0
33127,15456,8,PAYMENT,23789.18,C334521772,0.00,0.00,M1502077581,0.00,0.00,0,0
33128,5253581,371,CASH_OUT,205163.30,C1336772160,205163.30,0.00,C2058716445,0.00,205163.30,1,0
33129,10971,7,CASH_IN,67429.95,C1738947043,7432790.14,7500220.09,C141213117,467181.00,0.00,0,0
33130,222997,14,TRANSFER,2093951.47,C1374377088,2093951.47,0.00,C207611232,0.00,0.00,1,0

In [32]:
dadosfinais.columns

Index(['index', 'step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg',
       'newbalanceOrig', 'nameDest', 'oldbalanceDest', 'newbalanceDest',
       'isFraud', 'isFlaggedFraud'],
      dtype='object')

In [40]:
#utilizando o naive bayes retirado do site https://www.analyticsvidhya.com/blog/2017/09/naive-bayes-explained/
#utilizando a mesma base de dados utilizada para treinar o naive bayes.
y = dadosfinais.isFraud
x = dadosfinais.loc[:, [ 'step', 'amount', 'oldbalanceOrg',
       'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']]
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x,y)
predicted = model.predict(x)
print(predicted)
#help(model.predict)

[0 0 0 ..., 1 0 1]

In [48]:
#comparando o real com a classficação do naive bayes
x.loc[:, ["isFraud", "predicted"]]

       isFraud  predicted
0            0          0
1            1          0
2            0          0
3            1          0
4            0          0
5            0          0
6            0          0
7            0          0
8            0          0
9            0          0
10           0          0
11           0          0
12           0          0
13           0          0
14           1          1
15           1          0
16           1          1
17           0          0
18           1          1
19           0          0
20           0          0
21           0          0
22           0          0
23           1          1
24           0          0
25           1          1
26           0          0
27           0          0
28           0          1
29           1          0
...        ...        ...
33101        0          0
33102        0          0
33103        0          0
33104        0          0
33105        0          0
33106        1          0
33107        0          0
33108        0          0
33109        0          0
33110        1          0
33111        0          0
33112        0          0
33113        1          1
33114        0          0
33115        0          0
33116        0          0
33117        0          0
33118        1          1
33119        1          1
33120        0          0
33121        0          0
33122        1          1
33123        0          0
33124        0          0
33125        0          0
33126        0          0
33127        0          0
33128        1          1
33129        0          0
33130        1          1

[33131 rows x 2 columns]

In [49]:
x["isFraud"] = y

In [ ]:
#para melhrar: dar shuffle antes de pegar os 25 mil não fraudes, calcular a diferença entre o naive bayes e o real, e criar um base de testes.